.App {
  height: 100vh;
  display: flex;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 24px;
}

.canvas-content {
  min-width: 1248px;
  background-color: #7d7d7d;
  overflow: auto;
}

.controls {
  flex-shrink: 1;
  padding: 16px;
}

.color {
  color: #fff347;
}